
<h1>Make a new song!</h1>

<form class="" action="/songs" method="post">

  <p>
    Song name:
    <input type="text" name="name" value="">
  </p>

  <p>
    Artist:
    <input type="text" name="artist" value="">
  </p>

  <p>
    Song length:
    <input type="number" name="length" value="">
  </p>

  <input type="submit" name="" value="Create song">
</form>



<hr>



<%= form_tag '/songs', method: :post do %>

  <p>
    Song name:
    <%= text_field_tag :name %>
  </p>

  <p>
    Artist:
    <%= text_field_tag :artist %>
  </p>

  <p>
    Song length:
    <%= number_field_tag :length %>
  </p>

  <%= submit_tag "Create song" %>

<% end %>




<hr>






<%= form_for @song do |form_helper| %>

  <p>
    Song name:
    <%= form_helper.text_field :name %>
  </p>

  <p>
    Artist:
    <%= form_helper.text_field :artist %>
  </p>

  <p>
    Song length:
    <%= form_helper.number_field :length %>
  </p>

  <%= form_helper.submit %>

<% end %>
